* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body,html {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	font-family: 'Roboto',sans-serif;
	background: black;
	color: #fff;
	overflow: hidden;
}
.desktop body {
/* 
  background-image: url(../img/smoke14.gif);
  background-size: cover;
 */
}

.desktop iframe.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border: 0;
  pointer-events: none;
}
.mobile iframe.bg {
  display: none;
}

/*
.desktop #about { background-image: url(../img/smoke4.gif); background-size: cover; }
.desktop #team { background-image: url(../img/smoke14.gif); background-size: cover; }
.desktop .screenings-table { background-image: url(../img/smoke12.gif); background-size: cover; }
*/
.desktop #credits { background-image: url(../img/smoke13.gif); background-size: cover; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  text-align: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.hero .logo {
  width: 50vw;
  max-width: 500px;
  display: block;
}
.hero .tagline {
  font-size: 1.4em;
  margin-top: 1em;
  display: block;
}

/* --- */

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  display: flex;
  pointer-events:none
}
.footer > div {
  flex: 1;
  pointer-events: all!important;
  padding: 10px;
}
.footer .social {
  text-align: left;
  margin-top: auto;
}
.footer .logos {
  text-align: center;
  margin-top: auto;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer .links {
  text-align: right;
  margin-top: auto;
}

.logos a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.logos img {
  min-height: 30px;
  max-height: 57px;
  height: 2.2vw;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.teaser {
  float: left;
  width: 50%;
}
/* --- */

.desktop .logos a:hover {
  background-color: rgba(128,128,128,0.9);
}

.links a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 9px;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
  text-decoration: none;
  font-weight: normal;
  border-bottom: 2px solid transparent;
  margin-top: 4px;
}
.desktop .links a:hover {
  background-color: rgba(128,128,128,0.9);
}
.links a.line {
  border-bottom: 2px solid white;
  background: #333;
}

.social a {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.desktop .social a:hover {
  background-color: rgba(128,128,128,0.9);
}
.social a.fb {
  background-image: url(../img/social-facebook.svg);
}
.social a.tw {
  background-image: url(../img/social-twitter.svg);
  background-size: 70%;
}
.social a.insta {
  background-image: url(../img/social-instagram-outline.svg);
}
.social a.email {
  background-image: url(../img/social-email.svg);
}



#content {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#about.active,
#contact.active {
  overflow: hidden;
}
#about,#contact,#team,.screenings-table,#credits,#press {
  opacity: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;

  text-align: center;
  background: rgba(0,0,0,0.9);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1.1, 1.1);
  -webkit-transition: all 0.1s;

  transform-origin: 50% 50%;
  transform: scale(1.1, 1.1);
  transition: all 0.1s;
}
#content > .active {
  display: block;
}
.close {
  display: none;
  position: fixed;
  top: 10px; right: 20px;
  color: white;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
  text-decoration: none;
}
.close img {
  width: 25px;
  height: 25px;
}
.desktop .close:hover {
  background-color: rgba(128,128,128,0.9);
}
.about .close,
.contact .close,
.team .close,
.press .close,
.festivals .close,
.lectures .close,
.credits .close {
  display: block;
}
.about .bg,
.contact .bg,
.team .bg,
.press .bg,
.festivals .bg,
.lectures .bg,
.credits .bg,
.transit .bg {
  display: none;
}


#form, #form input {
  margin-top: 50px;
  font-size: 15px;
}
#form input {
  width: 220px;
  border: 0;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
#thanks {
  display: none;
}

.about #form,
.contact #form,
.team #form,
.festivals #form,
.lectures #form,
.press #form,
.credits #form {
  opacity: 0;
}

.about #content,
.contact #content,
.team #content,
.festivals #content,
.lectures #content,
.press #content,
.credits #content {
  pointer-events: auto;
}

.about #about,
.contact #contact,
.team #team,
.lectures #lectures,
.festivals #festivals,
.press #press,
.credits #credits {
  transform: scale(1,1);
  opacity: 1;
}
.about .hero,.contact .hero,.team .hero,.festivals .hero,.lectures .hero,.credits .hero,.press .hero,
.about .logos,.contact .logos,.team .logos,.festivals .logos,.lectures .logos,.credits .logos,.press .logos {
  opacity: 0;
}

.grad {
  background: linear-gradient(to top, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.0) 100%);
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0; left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.about .grad,
.contact .grad,
.team .grad,
.desktop .festivals .grad,
.desktop .lectures .grad,
.credits .grad,
.press .grad {
  opacity: 1;
}



/* ABOUT */

.body {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 300px auto;
}

.synopsis {
  width: 600px;
  margin: 20px auto 40px auto;
  line-height: 1.7em;
  font-size: 20px;
}


.half {
  width: 44%;
  padding: 10px;
  line-height: 1.7em;
  float: left;
  text-align: justify;
  margin: 0 1%;
}
.half .text {
  max-width: 500px;
  margin: 0 auto;
}
.half.left {
  margin-left: 4%;
}
.half.right {
  margin-right: 4%;
}
a { color: white; font-weight: bold }
.half .img {
  width: 42vw;
  height: 42vw;
  max-width: 350px;
  max-height: 350px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-filter: grayscale(50%);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
}
.desktop .half .img:hover {
  -webkit-filter: grayscale(0%);
}


.third {
  width: 29%;
  padding: 10px;
  line-height: 1.7em;
  float: left;
  text-align: justify;
  margin: 0 1%;
}
.third .text {
  max-width: 500px;
  margin: 0 auto;
}
.third.left {
  margin-left: 4%;
}
.third.middle {
  margin-left: 2%;
  margin-right: 2%;
}
.third.right {
  margin-right: 2%;
}
a { color: white; font-weight: bold }
.third .img {
  width: 22vw;
  height: 22vw;
  max-width: 270px;
  max-height: 270px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-filter: grayscale(50%);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
}
.desktop .third .img:hover {
  -webkit-filter: grayscale(0%);
}

/* PRESS */

#press .third a {
  text-decoration: none;
  font-weight: normal;
  display: block;
  text-align: left;
}
#press .third .quote {
}
#press .third .link {
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
  font-family: 'Georgia', serif;
}
#press .third .link u {
  border-bottom: 1px dotted;
  text-decoration: none;
}
#press .third .link.image {
  text-align: center;
}
#press .image {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  background-size: contain;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}


#about .body,
#contact .body, {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  margin: 0;
}

/* FESTIVALS / LECTURES */

.screenings-table,
.screenings-table .text {
  color: #bbb;
}
.screenings-table h1 {
  color: #fff;
}
.screenings-table a {
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
}
#festivals .third {
  margin-bottom: 1.75em;
}
.screenings-table .img {
  height: 15vw;
  max-height: 70px;
  margin-bottom: 0.75em;
  background-size: contain;
  background-position: center center;
}
.screenings-table .text {
  text-align: center;
}
.screenings-table .third {
  text-align: center;
}
.screenings-table .third a,
.screenings-table u {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.inquiries {
  margin: 0 0 20px 0;
}
.inquiries a {
  color: #fff;
  text-decoration: underline;
}


/* CREDITS */

#credits span {
  font-family: 'Helvetica Neue',sans-serif;
  font-weight: bold;
  display: block;
  margin: 30px 20px 20px 20px;
  opacity: 0.6;
}
#credits img {
  display: block;
  margin: 20px auto;
}
.names {
  display: table;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}
.names td {
  padding: 5px 10px;
  width: 50%;
}
.names .thanx tr td:nth-child(1) {
  text-align: center;
}
.names tr td:nth-child(1) {
  vertical-align: top;
  text-align: right;
}
.names tr td:nth-child(2) {
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}
.thanx {
  margin-top: 0;
  padding-top: 0px;
  white-space: pre-line;
  line-height: 1.7;
}
small {
  text-transform: lowercase;
  font-style: italic;
  font-family: 'Garamond', 'Adobe Garamond Pro', serif;
  font-size: normal;
  padding-right: 3px;
}
.top-spacer {
  height: 10vh;
}
.spacer {
  height: 50vh;
}

@media screen and (max-width: 1250px) {
  .footer div.logos {
    flex: 2;
  }
}

@media screen and (max-width: 850px) {
  .footer div.logos {
    flex: 3;
  }
}

@media screen 
and (max-width: 700px) {
  
  body {
    font-size: 13px;
  }
  .social a {
    width: 28px;
    height: 28px;
  }

  .footer > div.links {
    padding-bottom: 12px;
  }
  .footer > div.logos {
    opacity: 0;
    pointer-events: none !important;
    display: none;
  }
  
  .links a {
    padding: 5px;
  }
  .synopsis {
    width: 100%;
    font-size: 18px;
  }
  .half,.third {
    width: 94%;
    float: left;
  }
  .half.left, .half.right,.third {
    margin: 2%;
  }
  .half .img, .third .img {
    width: 62vw;
    height: 62vw;
  }
  .half.right .text {
    margin-bottom: 20px;
  }
  /*
  .logos img {
    height: 47px;
  }
  */
  .hero .logo {
    width: 270px;
  }
  .footer > div.footer-rapper {
    display: table-row;
  }
  .footer > div.links {
    padding-left: 0px;
  }
  .footer > div.social {
    padding-right: 0px;
  }
  .body {
    margin: 50px auto 100px auto;
  }
  #about .body,
  #contact .body,
  .screenings-table .body {
    top: 42%;
  }
  .teaser {
    display: none;
  }

}

@media screen and (max-height: 700px) {
    .logos img {
      min-height: 27px;
      height: 5.0vh;
      max-height: 67px;
    }
    #form, #form input {
      margin-bottom: 5px;
    }
    .footer > div {
      padding:6px
    }
}

@media screen and (max-height: 700px) and (max-width: 550px) {
  .footer div.logos {
    flex: 4;
  }
  .logos img {
    min-height:6vh;
    height: 6.5vh;
    max-height:7vh
  }

}
