* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body,html {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	font-family: 'Roboto',sans-serif;
	background: black;
	color: #fff;
	overflow: hidden;
}
.desktop body {
  background-image: url(../img/smoke14.gif);
  background-size: cover;
}

/*
.desktop #about { background-image: url(../img/smoke4.gif); background-size: cover; }
.desktop #team { background-image: url(../img/smoke14.gif); background-size: cover; }
.desktop #screenings { background-image: url(../img/smoke12.gif); background-size: cover; }
*/
.desktop #credits { background-image: url(../img/smoke13.gif); background-size: cover; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  text-align: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.hero .logo {
  width: 50vw;
  max-width: 500px;
  display: block;
}
.hero .tagline {
  font-size: 1.4em;
  margin-top: 1em;
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: table;
}
.footer > div {
  display: table-cell;
  width: 33%;
  padding: 10px;
}
.footer .social {
  text-align: left;
  vertical-align: bottom;
  display: table-cell;
}
.footer .logos {
  text-align: center;
  vertical-align: bottom;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.footer .links {
  text-align: right;
  vertical-align: bottom;
}

.logos a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
  text-decoration: none;
}
.desktop .logos a:hover {
  background-color: rgba(128,128,128,0.9);
}

.links a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
  text-decoration: none;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
.desktop .links a:hover {
  background-color: rgba(128,128,128,0.9);
}
.links a.line {
  border-bottom: 2px solid white;
  background: #333;
}

.social a {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.2);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.desktop .social a:hover {
  background-color: rgba(128,128,128,0.9);
}
.social a.fb {
  background-image: url(../img/social-facebook.svg);
}
.social a.tw {
  background-image: url(../img/social-twitter.svg);
  background-size: 70%;
}
.social a.insta {
  background-image: url(../img/social-instagram-outline.svg);
}
.social a.email {
  background-image: url(../img/social-email.svg);
}

.logos img {
  width: 200px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#content {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#about,#team,#screenings,#credits,#press {
  opacity: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;

  text-align: center;
  background: rgba(0,0,0,0.9);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1.1, 1.1);
  -webkit-transition: all 0.1s;

  transform-origin: 50% 50%;
  transform: scale(1.1, 1.1);
  transition: all 0.1s;
}
#content > .active {
  display: block;
}
.close {
  display: none;
  position: fixed;
  top: 10px; right: 10px;
  color: white;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
  text-decoration: none;
}
.close img {
  width: 25px;
  height: 25px;
}
.desktop .close:hover {
  background-color: rgba(128,128,128,0.9);
}
.about .close,
.team .close,
.screenings .close,
.credits .close {
  display: block;
}

#form, #form input {
  margin-top: 50px;
  font-size: 15px;
}
#form input {
  width: 220px;
  border: 0;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
#thanks {
  display: none;
}

.about #form,
.team #form,
.screenings #form,
.press #form,
.credits #form {
  opacity: 0;
}

.about #content,
.team #content,
.screenings #content,
.press #content,
.credits #content {
  pointer-events: auto;
}

.about #about,
.team #team,
.screenings #screenings,
.press #press,
.credits #credits {
  transform: scale(1,1);
  opacity: 1;
}
.about .hero,.team .hero,.screenings .hero,.credits .hero,.press .hero,
.about .logos,.team .logos,.screenings .logos,.credits .logos,.press .logos {
  opacity: 0;
}

.grad {
  background: linear-gradient(to top, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.0) 100%);
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0; left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.about .grad,.team .grad,.screenings .grad,.credits .grad,.press .grad {
  opacity: 1;
}



/* ABOUT */

.body {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 300px auto;
}

.synopsis {
  width: 600px;
  margin: 20px auto 40px auto;
  line-height: 1.7em;
  font-size: 20px;
}
.half {
  width: 44%;
  padding: 10px;
  line-height: 1.7em;
  float: left;
  text-align: justify;
  margin: 0 1%;
}
.half .text {
  max-width: 500px;
  margin: 0 auto;
}
.half.left {
  margin-left: 4%;
}
.half.right {
  margin-right: 4%;
}
a { color: white; font-weight: bold }
.half .img {
  width: 42vw;
  height: 42vw;
  max-width: 350px;
  max-height: 350px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-filter: grayscale(50%);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
}
.desktop .half .img:hover {
  -webkit-filter: grayscale(0%);
}


.half {
  width: 44%;
  padding: 10px;
  line-height: 1.7em;
  float: left;
  text-align: justify;
  margin: 0 1%;
}
.half .text {
  max-width: 500px;
  margin: 0 auto;
}
.half.left {
  margin-left: 4%;
}
.half.right {
  margin-right: 4%;
}
a { color: white; font-weight: bold }
.half .img {
  width: 42vw;
  height: 42vw;
  max-width: 350px;
  max-height: 350px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-filter: grayscale(50%);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
}
.desktop .half .img:hover {
  -webkit-filter: grayscale(0%);
}


.third {
  width: 29%;
  padding: 10px;
  line-height: 1.7em;
  float: left;
  text-align: justify;
  margin: 0 1%;
}
.third .text {
  max-width: 500px;
  margin: 0 auto;
}
.third.left {
  margin-left: 4%;
}
.third.middle {
  margin-left: 2%;
  margin-right: 2%;
}
.third.right {
  margin-right: 2%;
}
a { color: white; font-weight: bold }
.third .img {
  width: 22vw;
  height: 22vw;
  max-width: 270px;
  max-height: 270px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 1em;
  -webkit-filter: grayscale(50%);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
}
.desktop .third .img:hover {
  -webkit-filter: grayscale(0%);
}

/* PRESS */

#press .third a {
  text-decoration: none;
  font-weight: normal;
  display: block;
}
#press .third .quote {
}
#press .third .link {
  text-align: right;
  font-style: italic;
  margin-bottom: 1em;
  font-family: 'Georgia', serif;
}
#press .third .link u {
  border-bottom: 1px dotted;
  text-decoration: none;
}


/* SCREENINGS */

#about .body,
#screenings .body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
  margin: 0;
}
#screenings a {
  text-decoration: none;
  font-weight: normal;
  display: block;
}
#screenings .half .img {
  height: 22vw;
  max-height: 150px;
  background-size: contain;
  background-position: center center;
}
#screenings .text {
  text-align: center;
}

/* CREDITS */

#credits span {
  font-family: 'Helvetica Neue',sans-serif;
  font-weight: bold;
  display: block;
  margin: 30px 20px 20px 20px;
  opacity: 0.6;
}
#credits img {
  display: block;
  margin: 20px auto;
}
.names {
  display: table;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}
.names td {
  padding: 5px 10px;
  width: 50%;
}
.names .thanx tr td:nth-child(1) {
  text-align: center;
}
.names tr td:nth-child(1) {
  vertical-align: top;
  text-align: right;
}
.names tr td:nth-child(2) {
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}
.thanx {
  margin-top: 0;
  padding-top: 0px;
  white-space: pre-line;
  line-height: 1.7;
}
small {
  text-transform: lowercase;
  font-style: italic;
  font-family: 'Garamond', 'Adobe Garamond Pro', serif;
  font-size: normal;
  padding-right: 3px;
}
.top-spacer {
  height: 10vh;
}
.spacer {
  height: 50vh;
}



@media only screen 
and (max-device-width: 700px) {
  body {
    font-size: 13px;
  }
  .social a {
    width: 28px;
    height: 28px;
  }
  .footer > div.social {
    width: 35%;
  }
  .footer > div.links {
    width: 65%;
    padding-bottom: 12px;
  }
  .links a {
    padding: 5px;
  }
  .synopsis {
    width: 100%;
    font-size: 18px;
  }
  .half,.third {
    width: 94%;
    float: left;
  }
  .half.left, .half.right,.third {
    margin: 2%;
  }
  .half .img, .third .img {
    width: 62vw;
    height: 62vw;
  }
  .half.right .text {
    margin-bottom: 20px;
  }
  .logos img {
    width: 80px
  }
  .hero .logo {
    width: 270px;
  }
  .footer > div.footer-rapper {
    display: table-row;
  }
  .footer .logos {
    position: absolute;
    bottom: 50px;
  }
  .footer > div {
    padding: 0 6px 10px 6px;
  }
  .footer > div.links {
    padding-left: 0px;
  }
  .footer > div.social {
    padding-right: 0px;
  }
  .body {
    margin: 50px auto 100px auto;
  }
  #about .body,
  #screenings .body {
    top: 42%;
  }

}

